@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d;
  color: #848484;
}
.ace-editor-container {
  width: 100% !important;
}
.ace_scrollbar {
  display: none !important;
}
.ace_editor {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: none;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  font-weight: 500 !important ;
  font-size: 14px !important ;
  line-height: 1.5rem !important ;
}

.ace_content {
  width: 100% !important ;
  top: 12px !important ;
  left: 12px !important ;
}
.ace_scroller {
  width: 100% !important;
}
